*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
    width: 100%;
     
}

.bg{
    background-color: antiquewhite
}
.inscription{

     text-align: center;
    
    margin-bottom : 2%;
    color : palevioletred;  
}
.container{
    background-color: white;
    padding :4%; 
    border-radius : 15px; 
    width : 80%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 4%; 
    display: flex;
flex-direction: column;
width: 60%;

}

.RegisterForm{
    
flex-direction: column;
background-color: white;
border-radius: 15px;
}

label{
    font-weight: bold;
    font-size:18px;
    background-color: white;
}

input{

    margin-left: 35%;
    width:30%;
padding: 1%;
border-radius: 15px;
font-size: 14px;
background-color: white;

}

.submit{
    color : white; 
    background-color: lightpink; 
    margin-left:25% ;
    width: 40%;
    padding:2%; 
    display: flex;
    justify-content: center;
}

.submit:hover{
    background-color: palevioletred;
}

.ContainerInput{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

select{
    width :30% ;
    padding : 1%; 
    margin-left : 35%;
     margin-bottom: 3%;
     border-radius: 15px;
     margin-top: 2%; 
     background-color: white;
}
