
header{
    background-color: rgb(241, 159, 172);
    color: white; 
    display: flex; 
    height :7%;
    font-size : 20px; 
}
nav{
    width:70%; 
    height: 7%; 
    display: flex;
    justify-content: end;
}
.headerbtn{
    margin : 1%;
background-color: white;
color: palevioletred ;
font-size: 18px;
border-radius: 10px;
border:none;
padding:1%;
display: flex;
justify-content: flex-end;
}
a{
    color:palevioletred;
    text-decoration: none;
}
a::after{
color: lightpink;
text-decoration: none;

}